<a href="https://colab.research.google.com/github/mendoncalan/Python/blob/main/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Series
# Creating a Series Object from A Python List
# it is 1D Array

In [2]:
import pandas as pd

In [ ]:
from pandas.core.indexers.utils import Index
ice_cream  = ["Chocolate","Vanilla","Strawberry","Rum Raisin"]
pd.Series(ice_cream)
# In python we can change the index
#Index  Data
0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [ ]:
lotterty =[4,8,15,16,23,42]
pd.Series(lotterty)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
registrations =[True, False , True, True ]
pd.Series(registrations)

0     True
1    False
2     True
3     True
dtype: bool

In [ ]:
# CReating a Series Object from A Dictionary
sushi  ={
    "Salmon" : "Orange",
    "Tuna" : "Red",
    "Ele": "Brown"
}
pd.Series(sushi)
# it will have numberic index as well as Key pair as it maintains both index

Salmon    Orange
Tuna         Red
Ele        Brown
dtype: object

In [ ]:
# Import the pandas library and assign it its "pd" alias
import pandas as pd
# Create a list with 4 countries - United States, France, Germany, Italy
# Create a new Series by passing in the list of countries
# Assign the Series to a "countries" variable
countries =[ 'United States', 'France', 'Germany', 'Italy']

countries =pd.Series(countries)

# Create a list with 3 colors - red, green, blue
# Create a new Series by passing in the list of colors
# Assign the Series to a "colors" variable

colors=['red', 'green', 'blue']
colors=pd.Series(colors)

# Given the "recipe" dictionary below,
# create a new Series by passing in the dictionary as the data source
# Assign the resulting Series to a "series_dict" variable
recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}
series_dict=pd.Series(recipe)

Into to Attributes
Attributes is the charateristic of the Item
Examples for Laptop colour, keyboard layout etc are the attributes

Difference between Attribute and Methoud.

Method is function that we want to perform on the Item. where as the attribute is the describ the item.

In [4]:
adjectives = pd.Series(["Smart","Handsome","Charming","Brilliant","Humble"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [5]:
adjectives.size

5

In [6]:
adjectives.is_unique

True

In [7]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [ ]:
#Output
#array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
 #     dtype=object)
 #Series is stored in the form of NDArry that is a part of Numpy library

In [9]:
type(adjectives.values)

numpy.ndarray

In [10]:
adjectives.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [12]:
adjectives.dtype

dtype('O')